

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <app-sidebar></app-sidebar>
      <!--  Sidebar End -->
  
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <app-header></app-header>
        <!--  Header End -->
        <div class="container-fluid">
          <!--  Row 1 -->
  
          <div class="row">
  
            <div class="col-lg-12 d-flex align-items-stretch">
              <div class="card w-100">
                <div class="card-body p-4">
                  <h5 class="card-title fw-semibold mb-4">Categories</h5>
                  <div class="table-responsive">
                    <div>
                      <input [(ngModel)]="searchText" type="text" class="form-control">
                      <br>
                      <button (click)="Search()" class="btn btn-secondary">Search</button>
                    </div>
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                        <tr>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Course</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Category</h6>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of adminService.categories">
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">{{i.categoryid}}</h6>
                          </td>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{i.categoryname}}</h6>
                          </td>
                        
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
                class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a
                href="https://themewagon.com">ThemeWagon</a></p>
          </div>
        </div>
      </div>
    </div>
   